<div class="card" data-aos="fade-up">
	<div class="row">
	    <div class="col-md-4 event_image">
	    	<a href="{{fields.view_node.content}}" title="{{fields.title.content}}">
	    		{{fields.field_image.content}}
	    	</a>
	    </div>
		<div class="col-md-8">
			<div class="card-body">
				<p><span><i class="fa fa-calendar" aria-hidden="true"></i></span>{{fields.field_date.content}}</p>
				<a href="{{fields.view_node.content}}" title="{{fields.title.content}}"><h3>{{fields.title.content}}</h3></a>
				<p>{{fields.body.content}}</p>
			  	<a href="{{fields.view_node.content}}" class="primary-btn btn">
					{{fields.nothing.content}}
				</a>
			</div>
		</div>
	</div>
</div>