<div class="card" data-aos="fade-up">
	<a href="{{fields.view_node.content}}" title="{{fields.title.content}}">
	{{fields.field_image.content}}
    </a>
	<div class="card-body">
		<p><span><i class="fa fa-calendar" aria-hidden="true"></i></span>{{fields.field_date.content}}<p>
		<a href="{{fields.view_node.content}}" title="{{fields.title.content}}"><h3>{{fields.title.content}}</h3></a>
		<p>{{fields.body.content}}</p>
	    <div class="pt-cover-button-row">
	  	<a href="{{fields.view_node.content}}" class="primary-btn btn">
			{{fields.nothing.content}}
		</a>
	  </div>
	</div> 
</div>