<div class="row other_event" data-aos="fade-up">
	<div class="col-md-5 recent_image">
		<a href="{{fields.view_node.content}}" title="{{fields.title.content}}">
			{{fields.field_image.content}}
		</a>
	</div>
	<div class="col-md-7 recent_text">
		<a href="{{fields.view_node.content}}" title="{{fields.title.content}}">
			<h3>{{fields.title.content}}</h3>
		</a>
		<p><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>{{fields.field_campus_name.content}}</p>
		<p class="date"><span><i class="fa fa-calendar" aria-hidden="true"></i></span>{{fields.field_date.content}}</p>
	</div>
</div>
