<div class="card my-4" data-aos="fade-up">
  <div class="course_list">
    <div class="course_image">
      <a href='{{fields.view_node.content}}'>
        {{fields.field_image.content}}
      </a>  
    </div>
    <div class="card-body my-auto">
      <div class="course_details">
        <a href='{{fields.view_node.content}}'>
          <h3>{{fields.title.content}}</h3>
        </a>
        <p>{{fields.field_course_summary.content}}</p>
        <div class="btn_row">
          <a class="btn primary-btn" href='{{fields.view_node.content}}'>
           {{fields.nothing.content}}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>