<div class="col-12 col-md-6 col-lg-4 we_offer" data-aos="fade-up">
	<div class="course" data-aos="fade-up">
		<a href="{{fields.view_taxonomy_term.content}}" title="{{fields.name.content}}">
			<h3>{{fields.name.content}}</h3>
		</a>
		{{fields.description__value.content}}
		<a class="pt-action" href="{{fields.view_taxonomy_term.content}}" title="{{fields.name.content}}">
			{{fields.nothing.content}} <i class="fa fa-angle-right"></i>
		</a>
	</div>	
</div>