<div class="col-lg-6 col-md-12" data-aos="fade-up">
   <div class="up_event card">
   	<div class="row">
		<div class="col-md-5 up_event_left">
			<div class="row">
				<div class="date col-md-6 col-6">
					{{fields.field_date.content}}
			    </div>
				<div class="mnth_yr col-md-6 col-6">
					<p>{{fields.field_date_1.content}}</p>
					<p>{{fields.field_date_2.content}}</p>
				</div>
			</div>
		</div>
		<div class="col-md-7 up_event_right">
			<a href='{{fields.view_node.content}}'>
				<h3>{{fields.title.content}}</h3>
			</a>
		</div>
	</div>
  </div>
</div>