<div class="col-lg-4" data-aos="fade-up">
   <div class="course card">
    <div class="hovereffect">
      <a href='{{fields.view_node.content}}'>
    	 {{fields.field_image.content}}
      </a>
    </div>
      <div class="card-body">
          <div class="course_title">
              <h3>{{fields.title.content}}</h3>
          </div>
          <div class="course_body">
              {{fields.field_course_left_description.content}}
              <div class="btn_row">
              	<a class="btn pt-cover-button" href='{{fields.view_node.content}}'>
					{{fields.nothing.content}}
			    </a>
              </div>
          </div>
      </div>
    </div>
</div>