{#
/**
 * @file
 * Theme override to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 */
#}

{% set topics1 = fields.field_tags.content|split(',') %}
{% set counter = fields.counter.content|integer %}
{% if counter is even %}
  {% set topics_video = topics1|merge({'b': 'grid-item grid-item--video height-2 wow fadeInUp' }) %}
  {% set topics_img = topics1|merge({'b': 'grid-item grid-item--image height-2 wow fadeInUp' }) %}
{% else %}
  {% set topics_video = topics1|merge({'b': 'grid-item grid-item--video height-1 wow fadeInUp' }) %}
  {% set topics_img = topics1|merge({'b': 'grid-item grid-item--image height-1 wow fadeInUp' }) %}
{% endif %}

{% if 'tag-18' in topics1 %}

  <li {{ attributes.addClass(topics_img) }}>
    <a class="popup-image" href="{{fields.field_image.content}}" >
      <img src="{{fields.field_image.content}}" alt="{{fields.title.content}}" class="img-fluid">
      <div class="portfolio-overlay">
        <div class="portfolio-info row">
          <div class="col-md-10 col-8">
            <h4>{{fields.title.content}}</h4>
          </div>
          <div class="col-md-2 col-4">
            <i class="fas fa-search-plus"></i>
          </div>
        </div>
      </div>
    </a>
  </li>


{% elseif 'tag-19' in topics1 %}

  <li {{ attributes.addClass(topics_video) }}>
    <a class="popup-youtube" href="{{fields.field_link.content}}" >
      <img src="{{fields.field_image.content}}" alt="{{fields.title.content}}" class="img-fluid">
      <div class="portfolio-overlay">
        <div class="portfolio-info row">
          <div class="col-md-10 col-8">
            <h4>{{fields.title.content}}</h4>
          </div>
          <div class="col-md-2 col-4">
            <i class="fa fa-play-circle-o"></i>
          </div>
        </div>
      </div>
    </a>
  </li>

{% endif %}