<li class="search-result" data-aos="fade-up">
    <article>
        <div class="meta-info">
        	{{ info }}
        </div>
        <h1 class="title">
      		<a href="{{ url }}">{{ title }}</a>
    	</h1>
        <div class="media-info">
            {{ snippet }} | <a href="{{ url }}">More > </a> 
        </div>
    </article>
</li>