{% import _self as menus %}
{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}
{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
    {% if menu_level == 0 %}
      <ul class="navbar-nav pt-site-menu js-clone-nav ml-auto">
          {% if items %}
            {% for item in items %}
              {% if item.below %}
                {%
                    set classes = [
                      'nav-link angle-down drop-toggle pt-nav-link' ,
                      item.in_active_trail ? 'active',
                    ]
                  %}
                <li class="nav-item has-children dropdown">
                  <a {{ item.attributes.addClass(classes)}} href="{{ item.url }}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   {{ item.title }}
                  </a>
                  <ul class="dropdown-menu arrow-top menu_level_{{menu_level}}" aria-labelledby="navbarDropdown">
                    {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
                  </ul>
                </li>
              {% else %}
                {%
                    set classes = [
                      'nav-link pt-nav-link' ,
                      item.in_active_trail ? 'active',
                    ]
                  %}
                <li class="nav-item">
                  <a {{ item.attributes.addClass(classes)}} href="{{ item.url }}">{{ item.title }}</a>
                </li>
              {% endif %}
            {% endfor %}
          {% endif %}
        </ul>
    {% else %}
      {% if items %}
          {% for item in items %}
            {% if item.below %}
              <li class="has-children dropdown">
              <a class="dropdown-item angle-right drop-toggle" href="{{ item.url }}" id="navbarDropdown-2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ item.title }}
              </a>
                    <ul class="dropdown-menu menu_level_{{menu_level}}" aria-labelledby="navbarDropdown-2">
                      {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
                    </ul>
              </li>
            {% else %}
            <li><a class="dropdown-item" href="{{ item.url }}">{{ item.title }}</a></li>
            {% endif %}
          {% endfor %}
      {% endif %}
    {% endif %}
{% endmacro %}