<section id="news_events" class="tour_news_events">
	<div class="container">
	    <div class="row title_row">
			<div class="col-md-6 left" data-aos="fade-up">
				<h2>{{content.field_title.0}}</h2>
			</div>
			<div class="col-md-6 mt-auto right" data-aos="fade-up">
				<a class="pt-action" href="{{content.field_link.0['#url']}}" title="{{content.field_link.0['#title']}}">
					{{content.field_link.0['#title']}} <i class="fa fa-angle-right"></i>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 blog_left" data-aos="fade-up">
				{{content.field_news_events_view1}}
			</div>
			<div class="col-lg-6 blog_right">
				{{content.field_news_events_view2}}
			</div>
		</div>
	</div>
</section>
