<!-- Education Services -->
<section id="education_services">
  <div class="container">
    <div class="row"> 
      <div class="col-md-10 col-lg-6 section-content" data-aos="fade-up">
          <h2>{{content.field_title.0}}</h2>
          <p>{{content.field_description.0}}</p>
      </div>
      <div class="col-md-10 col-lg-6 mx-auto section-image" data-aos="fade-up">
          <img src="{{ file_url(content.field_image['#items'].entity.uri.value)}}" alt="{{ content.field_image['#items'].alt }}" title="{{ content.field_image['#items'].title }}">
      </div>
    </div>
  </div>
</section>
<!-- End of Education Services -->