<section id="under_education">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-10 mx-auto">
				<div class="section_title mx-auto" data-aos="fade-up">
					<h2>{{content.field_title.0}}</h2>
					<p>{{content.field_description.0}}</p>
				</div>
			</div>
		</div>
		<div id="edu_main">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 my-auto" data-aos="fade-up">
						<div class="edu_left">
							<h3>{{content.field_subtitle.0}}</h3>
							{{content.field_content.0}}
					    </div>
					</div>
					<div class="col-lg-6 section-content" data-aos="fade-up">
						<div class="edu_right">
							<h3>{{content.field_subtitle2.0}}</h3>
							<div class="edu_list">
								{{content.field_list}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
