<section id="why_choose_us">
	<div class="container">
		<div class="row">
			<div class="col-lg-7" data-aos="fade-up">
				<div class="section_title">
					<h2>{{content.field_title.0}}</h2>
				</div>
				<div class="why_choose_feature">
					<div class="row">
						{{content.field_wcu_feature	}}
					 </div>
				</div>
			</div>
			<div class="col-lg-5" data-aos="fade-up">
				<div class="admission_enquiry">
					<div class="section_title">
						<h2>{{content.field_subtitle.0}}</h2>
					</div>
					<p>{{content.field_description.0}}</p>
					<div class="admission_enquiry_form">
						{{content.field_webform}}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>