{% extends "block.html.twig" %}
{#
/**
 * @file
 * Bartik's theme implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% set front_page = url('<front>')  %}
{% set attributes = attributes.addClass('site-branding') %}
{% block content %}
  {% if site_logo %}
    <a href={{front_page}} title="Home" rel="home" class="navbar-brand">
      <img src="{{ site_logo }}" alt="Home" class="img-fluid">
    </a>
  {% else %}
    <a class="navbar-brand" href="{{ front_page }}" title="{{ 'Home'|t }}">
    <svg xmlns="http://www.w3.org/2000/svg" width="378.923" height="72" viewBox="0 0 378.923 72">
      <g id="Group_211" data-name="Group 211" transform="translate(-970 -3686)">
        <text id="University" transform="translate(1256 3745)" font-size="60" font-family="Lato-Black, Lato" font-weight="800"><tspan x="-285.54" y="0">University</tspan></text>
        <g id="Group_210" data-name="Group 210" transform="translate(-1066.779 3436.5)">
          <path id="Path_30" data-name="Path 30" d="M14613,275v33h69.058l-12.043-33Z" transform="translate(-12268.5 0)" stroke-width="3"/>
          <text id="Pro" transform="translate(2359 298.5)" fill="#fff" font-size="20" font-family="OpenSans-Bold, Open Sans" font-weight="700"><tspan x="0" y="0">Pro</tspan></text>
        </g>
      </g>
    </svg>
    </a>
  {% endif %}
  {% if site_name or site_slogan %}
    <div class="site-branding__text">
      {% if site_name %}
        <h2>{{ site_name }}</h2>
      {% else %}
        <div class="site-branding__name">
          <a class="navbar-brand" href="{{ front_page }}" title="{{ 'Home'|t }}">
          <svg xmlns="http://www.w3.org/2000/svg" width="378.923" height="72" viewBox="0 0 378.923 72">
          <g id="Group_211" data-name="Group 211" transform="translate(-970 -3686)">
            <text id="University" transform="translate(1256 3745)" font-size="60" font-family="Lato-Black, Lato" font-weight="800"><tspan x="-285.54" y="0">University</tspan></text>
            <g id="Group_210" data-name="Group 210" transform="translate(-1066.779 3436.5)">
              <path id="Path_30" data-name="Path 30" d="M14613,275v33h69.058l-12.043-33Z" transform="translate(-12268.5 0)" stroke-width="3"/>
              <text id="Pro" transform="translate(2359 298.5)" fill="#fff" font-size="20" font-family="OpenSans-Bold, Open Sans" font-weight="700"><tspan x="0" y="0">Pro</tspan></text>
            </g>
          </g>
        </svg>
          </a>
        </div>
      {% endif %}
      {% if site_slogan %}
        <div class="site-branding__slogan">{{ site_slogan }}</div>
      {% endif %}
    </div>
  {% endif %}
{% endblock %}
